/*
=====================================================
LESS VARIABLES AND MIXINS
=====================================================
*/
.controlPanelStyles {
  border-color: grey;
  border-style: outset;
  border-width: 2px;
  border-radius: 2px;
  color: #53af13;
}
/*
=====================================================
GAME SCREEN STYLES (AND SOME UNIVERSAL STYLES)
=====================================================
*/
body {
  background-color: black;
  font-family: 'Special Elite', cursive;
}
#board {
  position: relative;
  width: 793.8px;
  height: 645px;
  margin: auto;
  background: url("../media/board.jpg") no-repeat;
  background-size: contain;
}
#board table {
  cursor: crosshair;
  position: absolute;
  left: 131px;
  top: 55px;
  border-spacing: 0px;
}
#board table td {
  width: 74.5px;
  height: 75px;
}
#board table td:hover {
  background-color: rgba(83, 175, 19, 0.4);
}
#board table .hit {
  background: url("../media/banana.png") no-repeat center center;
}
#board table .miss {
  background: url("../media/miss.png") no-repeat center center;
}
#board #author {
  color: rgba(83, 175, 19, 0.6);
  font-size: .9em;
  margin-top: 0;
  padding-top: 1em;
  margin-left: 137px;
}
#board #author a,
#board #author-home a {
  color: rgba(83, 175, 19, 0.6);
  text-decoration: none;
}
#messageArea {
  border-color: grey;
  border-style: outset;
  border-width: 2px;
  border-radius: 2px;
  color: #53af13;
  border-style: inset;
  font-size: 1.75em;
  line-height: 110%;
  background: url('../media/monitor.png') no-repeat;
  background-size: cover;
  height: 120px;
  padding: 15px;
}
#form {
  color: #53af13;
  width: 100%;
  background-color: black;
  padding: 0px 15px 15px 15px;
}
#form #guessInput {
  border-color: grey;
  border-style: outset;
  border-width: 2px;
  border-radius: 2px;
  color: #53af13;
  border-style: inset;
  background: url('../media/monitor.png') no-repeat;
  background-size: cover;
  font-size: 1.5em;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 95px;
}
#form #fireButton {
  background: url('../media/fire.jpg') no-repeat;
  background-size: cover;
  width: 95px;
  height: 58px;
  border-color: grey;
  border-style: outset;
  border-width: 2px;
  border-radius: 2px;
}
#form .darkened-image {
  background: rgba(70, 72, 82, 0.3);
}
/*
=====================================================
HOME SCREEN STYLES
=====================================================
*/
.home-background {
  background: url("../media/board.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}
.jumbotron {
  margin-top: 50px;
  background-color: black;
  color: #53af13;
}
.jumbotron .btn-default {
  background-color: rgba(83, 175, 19, 0.95);
  border-color: grey;
  border-style: outset;
  border-width: 2px;
  border-radius: 2px;
  margin-top: 10px;
}
.jumbotron .btn-default:hover {
  background-color: #53af13;
}
.jumbotron #author-home,
.jumbotron #author-home a {
  color: rgba(83, 175, 19, 0.6);
  margin-top: 6em;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */