/*
=====================================================
LESS VARIABLES AND MIXINS
=====================================================
*/

@color: rgba(83, 175, 19, 1.0); // use lighten to vary?
@font: 'Special Elite', cursive;

// use variables for custom border property values.
.customBorder (@color: grey, @style: outset, @width: 2px, @radius: 2px) {
    border-color: @color;
    border-style: @style;
    border-width: @width; // or 3px on form
    border-radius: @radius;
}
.controlPanelStyles {
    .customBorder;
    color: @color;
}

/*
=====================================================
GAME SCREEN STYLES (AND SOME UNIVERSAL STYLES)
=====================================================
*/

// BODY
body {
    background-color: black;
    font-family: @font;
} // END BODY

// GAME BOARD
#board {
    position: relative;
    width: 793.8px;
    height: 645px;
    margin: auto;
    background: url("../media/board.jpg") no-repeat;
    background-size: contain;

    table {
        position: absolute;
        left: 131px;
        top: 55px;
        border-spacing: 0px;
        td {
            width: 74.5px;
            height: 75px;
            &:hover {
                background-color: fade(@color, 40%);
            }
        }
        .hit {
            background: url("../media/banana.png") no-repeat center center;
        }
        .miss {
            background: url("../media/miss.png") no-repeat center center;
        }
    }
    #author {
        color: fade(@color, 60%);
        font-size: .9em;
        margin-top: 0;
        padding-top: 1em;
        margin-left: 137px;
    }
    #author a, #author-home a {
        color: fade(@color, 60%);
        text-decoration: none;
    }
} // END GAME BOARD

// CONTROL PANEL AREA
    #messageArea {
        .controlPanelStyles;
        border-style: inset;
        font-size: 1.75em;
        line-height: 110%;
        background: url('../media/monitor.png') no-repeat;
        background-size: cover;
        height: 120px;
        padding: 15px;
    }
    #form {
        color: @color;
        width: 100%;
        background-color: black;
        padding: 0px 15px 15px 15px;

        #guessInput {
            .controlPanelStyles;
            border-style: inset;
            background: url('../media/monitor.png') no-repeat;
            background-size: cover;
            font-size: 1.5em;
            margin-right: 5px;
            margin-bottom: 10px;
            height: 50px;
            width: 95px;
        }
        #fireButton {
            background: url('../media/fire.jpg') no-repeat;
            background-size: cover;
            width: 95px;
            height: 58px;
            .customBorder;
        }
        .darkened-image {
           background: rgba(70, 72, 82, 0.3);
        }
    }

/*
=====================================================
HOME SCREEN STYLES
=====================================================
*/

.home-background {
    background: url("../media/board.jpg") no-repeat;
    background-size: 100%;
    background-position: center center;
}

// JUMBOTRON
.jumbotron {
    margin-top: 50px;
    background-color: black;
    color: @color;

    .btn-default {
        background-color: fade(@color, 95%);
        .customBorder;
        margin-top: 10px;
        &:hover {
            background-color: @color;
        }
    }
    #author-home, #author-home a {
        color: rgba(83, 175, 19, .6);
        margin-top: 6em;
        font-size: 1em;
    }
} // END JUMBOTRON







/*
body
    game
        table
        board
        control-panel (NO STYLES)
            messageArea
            formArea
                form-group

    home
        jumbotron
            home-text
                home-heading
                home-p
            a start-game-button
            a show-instructions
            a

            author-home







*/
