
body {
    background-color: black;
    font-family: 'Special Elite', cursive;
}
#board {
    position: relative;
    /*width: 1024px;
    height: 863px;*/
    width: 921px;
    height: 776px;
    margin: auto;
    background: url("../media/board.jpg") no-repeat;
    background-size: contain;
}
#controls-column {
    margin-left: -160px;
}
#messageArea {
    /* absolute is relative to parent div */
    /*position: absolute;
    top: 0px;
    left: 128px;
    width: 455px;
    margin: auto;*/
    height: 300px;
    color: rgba(83, 175, 19, .9);
    font-size: 2em;
    padding-top: 88px;  /* align with top of game board */
}
#missiles-remaining {
    height: 200px;
    color: rgba(83, 175, 19, .9);
    font-size: 2em;
}
table {
    position: absolute;
    /*left: 173px;
    top: 98px;*/
    left: 155px;
    top: 88px;
    border-spacing: 0px;
}
#author {
    color: rgba(83, 175, 19, .6);
    position: absolute;
    bottom: 0px;
    right: 160px;
    font-size: .75em;
}
#author a {
    color: rgba(83, 175, 19, .6);
    text-decoration: none;
}
td {
    /*width: 94px;
    height: 96px;*/
    width: 84px;
    height: 85px;
}
td:hover {
    background-color: rgba(83, 175, 19, .5);
}
#form {
    /*position: absolute;*/
    /*top: 0px;
    right: 160px;*/
    padding: 15px;
    width: 100%; 
    background-color: rgb(83, 175, 19);
}
#guessInput {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1.5em;
    width: 180px;
    margin-right: 5px;
    font-family: 'Special Elite', cursive;
    display: inline-block;
}
#fireButton {
    font-family: 'Special Elite', cursive;
    width: 80px;
    background-color: rgb(152, 207, 113);
    font-size: 1.5em;
}
.hit {
    background: url("../media/banana.png") no-repeat center center;
}
.miss {
    background: url("../media/miss.png") no-repeat center center;
}
