/*downloaded font per these instructions: http://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site*/
/*@font-face {
    font-family: 'white-rabbit'; src: url('../media/white-rabbit/whitrabt.ttf');
}*/

body {
    background-color: black;
    font-family: 'Special Elite', cursive;
    /*font-family: 'white-rabbit', arial, sans-serif;*/
    /*font-family: 'Press Start 2P', cursive;*/
}
.home-background {
    background: url("../media/board.jpg") no-repeat;
    background-size: 100%;
    background-position: center center;
}
#board {
    position: relative;
    /*width: 1024px;
    height: 863px;*/
    /*width: 921px;
    height: 776px;*/
    width: 793.8px;
    height: 668.8px;
    margin: auto;
    background: url("../media/board.jpg") no-repeat;
    background-size: contain;
}
#controls-column {
    margin-left: -160px;
}
#messageArea {
    /* absolute is relative to parent div */
    /*position: absolute;
    top: 0px;
    left: 128px;
    width: 455px;
    margin: auto;*/
    color: rgba(83, 175, 19, .9);
    font-size: 2em;
    line-height: 110%;
    /*background: url('../media/parchment.jpg')*/
    background: url('../media/monitor.png') no-repeat;
    background-size: cover;
    height: 140px;
    border-style: inset;
    border-color: grey;
    padding: 15px;
}
/*#missiles-remaining {
    height: 200px;
    color: rgba(83, 175, 19, .9);
    font-size: 2em;
}*/
table {
    position: absolute;
    /*left: 173px;
    top: 98px;*/
    /*left: 155px;
    top: 88px;*/
    left: 134px;
    top: 75px;
    border-spacing: 0px;
}

.jumbotron {
    margin-top: 50px;
    /*border-radius: 1px;*/
    background-color: black;
    color: rgb(83, 175, 19);
}

.jumbotron .btn-default {
    /*background-color: #BF2733;*/
    background-color: rgba(83, 175, 19, .8);
    border-style: outset;
    border-color: grey;
    border-width: 2px;
    border-radius: 2px;
    margin-top: 10px;
}

.jumbotron .btn-default:hover {
    background-color: rgb(83, 175, 19);
}

#author-home {
    color: rgba(83, 175, 19, .6);
    margin-top: 6em;
    font-size: 1em;
}
#author {
    color: rgba(83, 175, 19, .6);
    font-size: .9em;
    margin-top: 0;
    padding-top: 1em;
    margin-left: 137px;
}
#author a, #author-home a {
    color: rgba(83, 175, 19, .6);
    text-decoration: none;
}
td {
    /*width: 94px;
    height: 96px;*/
    /*width: 84px;
    height: 85px;*/
    width: 74px;
    height: 75px;
}
td:hover {
    background-color: rgba(83, 175, 19, .5);
}
#formArea {

}
#form {
    /*position: absolute;*/
    /*top: 0px;
    right: 160px;*/
    padding: 15px;
    width: 100%;
    /*background-color: rgb(83, 175, 19);*/
    /*background: url('../media/metal-plate_no_screws.jpeg') no-repeat;
    background-size: cover;*/
    background-color: black;
    border-style: outset;
    border-width: 3px;
    border-radius: 2px;
    border-color: grey;
}

.darkened-image {
   background: rgba(70, 72, 82, 0.3);
}

#guessInput {
    /*background-color: rgb(152, 207, 113);*/
    background: url('../media/monitor.png') no-repeat;
    background-size: cover;
    /*border-color: rgb(83, 175, 19);*/
    border-color: grey;
    border-style: inset;
    border-width: 2px;
    font-size: 1.5em;
    /*width: 180px;*/
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
    color: rgba(83, 175, 19, .9);
    /*display: inline-block;*/
}
#fireButton {
    font-family: 'Special Elite', cursive;
    /*width: 80px;*/
    /*background-color: rgb(152, 207, 113);*/
    background: url('../media/fire.jpg') no-repeat;
    background-size: cover;
    font-size: 1.5em;
    border-style: outset;
    border-color: grey;
    border-width: 2px;
    width: 90px;
    height: 50px;
}
.hit {
    background: url("../media/banana.png") no-repeat center center;
}
.miss {
    background: url("../media/miss.png") no-repeat center center;
}
